version: '3.8'

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    container_name: jaderby-portfolio
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
